iot.flow.txt
[{"id":"bfe251fe.3a5e5","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"cd9f3a65.7705b8","type":"ibmiot in","z":"bfe251fe.3a5e5","authentication":"apiKey","apiKey":"ea77d1cc.a92d8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"nodemcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":180,"y":100,"wires":[["2000b459.afed0c","be447e19.9e0e9","609b8f18.6f28f","f2fed419.6fc308"]]},{"id":"2000b459.afed0c","type":"debug","z":"bfe251fe.3a5e5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":100,"wires":[]},{"id":"be447e19.9e0e9","type":"ui_gauge","z":"bfe251fe.3a5e5","name":"Engine rpm","group":"76b4f8d6.49d598","order":2,"width":0,"height":0,"gtype":"gage","title":"Crank rotation","label":"RPM","format":"{{msg.payload.enginerpm}}","min":"1000","max":"4000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":160,"wires":[]},{"id":"609b8f18.6f28f","type":"ui_gauge","z":"bfe251fe.3a5e5","name":"speed","group":"3b5025d4.2a813a","order":0,"width":0,"height":0,"gtype":"gage","title":"speed","label":"RPM","format":"{{msg.payload.speedkmph}}","min":0,"max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":220,"wires":[]},{"id":"f2fed419.6fc308","type":"ui_gauge","z":"bfe251fe.3a5e5","name":"coolant temp","group":"ab5576e4.a065e8","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"centigrade","format":"{{msg.payload.coolanttemp}}","min":"60","max":"105","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":280,"wires":[]},{"id":"ea77d1cc.a92d8","type":"ibmiot","z":"","name":"d48x0a","keepalive":"60","serverName":"d48x0a.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"76b4f8d6.49d598","type":"ui_group","z":"","name":"engine rpm","tab":"f6c99e8b.3fd25","order":2,"disp":true,"width":"6","collapse":false},{"id":"3b5025d4.2a813a","type":"ui_group","z":"","name":"vehicle speed","tab":"f6c99e8b.3fd25","order":3,"disp":true,"width":"6","collapse":false},{"id":"ab5576e4.a065e8","type":"ui_group","z":"","name":"coolant temp","tab":"f6c99e8b.3fd25","order":4,"disp":true,"width":"6","collapse":false},{"id":"f6c99e8b.3fd25","type":"ui_tab","z":"","name":"engine","icon":"dashboard","disabled":false,"hidden":false}]